:root 
{
    --black: black;
    --yellow: rgba(249, 252, 58);
    --white: white;
    --grey: #252526;
}
@font-face 
{
    font-family: SFProText-Light ;
    /*src: url(fonts/SFProText-Light.ttf);*/
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: SFProtext-Light;
}
header
{
    display: flex;
    justify-content: space-between;
}
