:root 
{
    --black: black;
    --yellow: rgba(249, 252, 58);
    --white: white;
    --grey: #252526;
}
@font-face 
{
    font-family: SFProText-Light ;
    src: url(fonts/SFProText-Light.ttf);
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: SFProtext-Light;
}
/*     INICIO del header, menu navegador    */
header 
{
    width: 100vw;
    height: 80px;
    background: var(--black);
    padding: 0 50px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo 
{
    text-transform: uppercase;
    color: var(--yellow);
    font-weight: 200;
    cursor: pointer;
    transition: all 300ms;
}
.logo:hover 
{
    transform: scale(1.05);
}
.menu .menu-superior a
{
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    position:relative;
}
.animated:after 
{
    content: "";
    position: absolute;
    background-color: var(--yellow);
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 1px;  
    transition: 0.3s;  
}

.openMenu,
.closeMenu 
{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.openMenu 
{
    order: 0;
}
.menu a:hover,
.openMenu:hover,
.closeMenu:hover 
{
    color: var(--yellow);
}
.animated:hover:after 
{
    width: 100%;
}
#check {
    display: none;
}
/*    FINAL del header, menu navegador   */ 

/* INICIO del contenido principal */
.mainSection-container 
{
    width: 100vw;
    height: 660px;
    background-image: url(./images/Vector2.jpg);
    background-size: 100% 100%;
    background-attachment: absolute;
}
.slogan 
{
    font-size: 54px;
    display:block;
    padding-top: 183px;
    padding-left: 145px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    letter-spacing: -0.0590031px;
}
.section-1 
{
    height: 100%;
    width: 50%;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(249, 252, 253, 0.30);
    background: var(--yellow);
}
/* INICIO  del contenedor de cartas */
a 
{
    text-decoration: none;
}
.cards-container 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card-container 
{
    margin: 20px;
}
.card-container a 
{
    display:inline-block;
}
.card-container:hover figure 
{
    transform: perspective(600px) rotatey(180deg);
    box-shadow: 0px, 2px, 10px, 2px rgba(0,0,0,0 0.25);    
}
.card-container:hover figure img
{
    filter:blur(1px);
}
figure 
{
    width: 300px;
    height: 350px;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}
figure .front,
figure .back 
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s;
}
figure .front 
{
    display: block;
    /*backface-visibility: hidden;*/
}
figure .back 
{
    position: absolute;
    top: 0;
    padding: 20px;
    color: black;
    transform: perspective(600px) rotatey(180deg);
    backface-visibility: hidden;
    overflow-y: auto;

    background: rgba(206,221,225,0.75);
    background: -moz-linear-gradient(top, rgba(206,221,225,0.75) 0%, rgba(54,70,87,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206,221,225,0.75)), color-stop(100%, rgba(54,70,87,1)));
    background: -webkit-linear-gradient(top, rgba(206,221,225,0.75) 0%, rgba(54,70,87,1) 100%);
    background: -o-linear-gradient(top, rgba(206,221,225,0.75) 0%, rgba(54,70,87,1) 100%);
    background: -ms-linear-gradient(top, rgba(206,221,225,0.75) 0%, rgba(54,70,87,1) 100%);
    background: linear-gradient(to bottom, rgba(206,221,225,0.75) 0%, rgba(54,70,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedde1', endColorstr='#364657', GradientType=0 );
}
figure .back .title 
{
    color: var(--black);
    font-weight: normal;
    margin: 10px;
    margin-bottom: 30px;
    font-family: 'Amiri', serif;
    font-size: 26px;
    line-height: 22px;
}
figure .back hr
{
    height: 2px;
    background: #FFFFFF;
    border: none;
    margin-bottom: 30px;
    opacity: .5;
}
figure .back p 
{
    line-height: 22px;
}
/* FINAL del contenedor de cartas */
/* FINAL del contenido principal */

/* INICIO del media-querys para mobiles */
@media(max-width: 768px)
{
    .mainSection-container
    {
        background-size: 768px 330px;
        background-repeat: no-repeat;
    }
    .openMenu,
    .closeMenu{
        display: block;
    }
    .menu 
    {
        position: fixed;
        width: 18%;
        height: 100vh;
        left: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.7s;
        background: rgba(5, 7, 12, 0.60);
        backdrop-filter: blur(3px);
        border: 2px solid rgba(255, 255, 255, 0.10);
    }
    .menu-superior a,
    .menu-redes a 
    {
        display: block;
        font-size: 28px;
    }
    .menu a
    {
        display: block;
        padding: 20px;
        transition: all 300ms;
    }
    .closeMenu
    {
        position: absolute;
        top: 10px;
        right: 50px;
    }
    #check:checked ~ .menu
    {
        left: 0;
        transition: .5s;
    }
    figure .back 
    {
        backface-visibility: visible;
        transform: perspective(600px) rotatey(0deg);
    }
    .card-container:hover figure
    {
        transform: perspective(600px) rotatey(0deg);
    }
}
/* FINAL del media-querys para mobiles */